* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.932);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    min-height: 80vh;
    width: 26vw;
    background-color: rgb(44, 44, 44);
    padding: 20px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.100);
}

form {
    height: auto;
    font-size: 14px;
    display: grid;
    gap: 12px;
    margin: 5px;
}

label {
    font-weight: bold;
}

h2 {
    font-size: 27px;
    margin-bottom: 20px;
}

input {
    border: none;
    outline: none;
    background-color: rgba(19, 19, 19, 0.938);
    border-radius: 3px;
    width: 100%;
    height: 35px;
    margin-top: 5px;
    color: #fff;
    padding: 10px;
}
::-ms-reveal {
    filter: invert(100%);
  }

input:focus {
    border: 2px solid rgba(0, 225, 255);
    box-shadow: 0 0 5px rgba(0, 225, 255);
}

/* input:invalid {
    border: 2px solid rgb(255, 68, 68);
    box-shadow: 0 0 5px rgb(255, 68, 68);
} */

input:-webkit-autofill {
    border: 2px solid rgba(0, 225, 255);
    box-shadow: 0 0 5px rgba(0, 225, 255);
    -webkit-box-shadow: 0 0 5px rgba(0, 225, 255), 0 0 0 35px rgba(19, 19, 19, 0.986) inset;
    -webkit-text-fill-color: #fff !important;
}

button {
    cursor: pointer;
    width: 100%;
    height: 30px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.884), rgba(255, 255, 255, 0.678));
    border: none;
    border-radius: 3px;
    font-weight: bold;
    color: rgba(19, 19, 19, 0.938);
    margin: 5px 0;
}

button:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.945), rgba(255, 255, 255, 0.801));
}

.terms p {
    font-size: 12px;
}

.sec-txt p {
    font-size: 12px;
    margin: 25px 0 0 0;
}

a {
    color: rgb(0, 225, 255);
    font-size: 12px;
    text-decoration: none;
}

@media (max-width: 600px) {
    body {
      height: auto;
    }
  
    .container {
      margin: 50px;
      width: 80%;
    }
  }

@media (max-width: 1000px),
(min-height: 1000px) {
    body {
        height: auto;
    }

    .container {
        margin: 50px;
        width: 80%;
    }
}

.error {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: rgb(255, 68, 68);
}

.success {
    display: flex;
    justify-content: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: rgb(96, 255, 47);
}
